appdirs==1.4.4
certifi==2020.6.20
coverage==5.3
distlib==0.3.1
filelock==3.0.12
importlib-metadata==2.0.0
importlib-resources==3.0.0
MarkupSafe==1.1.1
peewee==3.5.0
peewee-validates==1.0.7
pipenv==2020.8.13
python-dateutil==2.8.1
six==1.15.0
virtualenv==20.0.33
virtualenv-clone==0.5.4
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.3.0
